.coverage
MANIFEST
coverage.xml
junit-report.xml
pylint.txt
toy.py
violations.pyflakes.txt
cover/
docs/_build
getnet_py.egg-info/
*.pyc
*.swp
*~
env/
build/
dist/
.tox/
.env

.workon
.*/
testes.py
new_features/
R.md